<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">
                Blog
            </a>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
